<h1><%= game.name %></h1>
<div class="columns">
  <div class="column is-half">
    <img src="<%= game.image %>" alt="<%= game.name %>">
  </div>
  <div class="column is-half">
    <ul>
      <li>Name: <%= game.name %></li>
      <li>Price: £<%= game.price %></li>
      <li>Year of Release:  <%= game.year %></li>
      <li>Game Description: <br> <%= game.description %></li>
    </ul>
    <a href="/games/<%= game.id %>/edit">Edit</a>
    <form action="/games/<%= game.id %>/" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button name="button">Delete</button>
    </form>
  </div>
</div>
